
body{
    background-color: rgb(229, 230, 232);
}
.fa{
    color: rgb(57, 182, 231);
}
.box-inside{
    background-color: white;
    padding: 60px 5px;
    text-align: center;
    margin: 20px 10px;
}
a{
    border-bottom: 1px solid rgb(57, 182, 231);
}
p{
    font-size: 15px;
}

.box{
    padding: 60px;
}
.content{
    margin: 20px 0px;
}